{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/bookmarklet.css" %}" rel="stylesheet">
    <style type="text/css">
        /* 动态为footer添加类fixed-bottom */

        .fixed-bottom {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            function footerPosition() {
                $("footer").removeClass("fixed-bottom");
                var contentHeight = document.body.scrollHeight,//网页正文全文高度
                    winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
                if (!(contentHeight > winHeight)) {
                    //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
                    $("footer").addClass("fixed-bottom");
                } else {
                    $("footer").removeClass("fixed-bottom");
                }
            }
            footerPosition();
            $(window).resize(footerPosition);
        });
    </script>
    


</head>

<body id="gradient">


    <div id="header">
        <span class="logo">Bookmarks</span>
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == "dashboard" %}class="selected" {% endif %}>
                <a href="{% url "dashboard" %}">My dashboard</a>
            </li>
            <li {% if section == "images" %}class="selected"{% endif %}><a href="{% url "images:list" %}">Images</a></li>

            <li {% if section == "people" %}class="selected" {% endif %}>
                <a href="#">People</a>
            </li>
        </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %} Hello {{ request.user.first_name }},
            <a href="{% url "logout" %}">Logout</a>
            {% else %}
            <a href="{% url "login" %}">Log-in</a>
            {% endif %}
        </span>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">
            {{ message|safe }}
            <a href="#" class="close"> </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div id=" content ">
        {% block content %} {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">

            <span class="copyright">Copyright © 2018 X Max. All Rights Reserved</span>
            <div class="container colorset">

                <input class="color1" type="color" name="color1" value="#00ff00">
                <input class="color2" type="color" name="color2" value="#ff0000">
            </div>
        </div>

    </footer>
    <script type="text/javascript" src="{% static "js/base.js"%}"></script>
    
    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
            var csrftoken = $.cookie('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $(document).ready(function(){
                {% block domready %}
                {% endblock %}
            });
        </script>

</body>

</html>